# Byggmappar
bin/
obj/
# Visual Studio-filer  
.vs/
*.user
*.Kodanalys.csproj
*.suo
# Rider-filer 
.idea/
*.sln.iml
# Paket
*.nupkg
# Loggfiler
*.log
# Användarspecifika filer
*.userprefs
# Byggresultat
*.exe
*.dll