# Byggmappar
bin/
obj/
.vs/
# Användarspecifika filer
Kodanalys.csproj
project.nuget.cache
project.assets.json
Kodanalys.csproj.nuget.g.targets
Kodanalys.csproj.nuget.g.props
Kodanalys.csproj.nuget.dgspec.json
Kodanalys.csproj.user
